body {
  background-color: rgb(206, 226, 209) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  text-decoration: none;
  color: inherit;
}

.boxShadow {
  box-shadow: 10px 10px 19px -7px rgba(112, 112, 112, 0.52);
}

.alignecenter {
  align-items: center;
}
.justifycenter {
  justify-content: center;
}
